{% extends 'base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}
    </br>
    <b><font face="Optima, sans-serif"><h1>Commandes</h1></font></b>
    </br>
    <div class="container">
    <font face="Optima, sans-serif"><table class="table"></font>
        <thead>
            <tr style="background-color: #B10E33; color: #FFFFFF">
                <th>Identifiant</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr style="background-color: #FFE4EB;">
                <td>{{ commande.id }}</td>
                <td>
                    <button type="button" class="btn btn-outline-warning">
                        <a href="{{ path('commande_show', {'id': commande.id}) }}" style="color: #000000;">Informations</a>
                    </button>
                    <button type="button" class="btn btn-outline-success">
                        <a href="{{ path('commande_edit', {'id': commande.id}) }}" style="color: #000000;">Modifier</a>
                    </button>  
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="text-align: center;">
        <button type="button" class="btn btn-outline-primary">
            <a href="{{ path('commande_new') }}" style="color: #000000;">Ajouter une commande</a>
        </button>
    </div>
   </div> 
{% endblock %}
