{% extends 'base.html.twig' %}

{% block title %}Nouvelle commande{% endblock %}

{% block body %}
    <br/>
    <h1>Ajouter une nouvelle commande</h1>
    <br/>
    {{ include('commande/_form.html.twig') }}
    <br/>
    <div style="text-align: center;">
        <button class="btn btn-outline-info">
            <a href="{{ path('commande_index') }}" style="color: #000000;">Retour à l'accueil</a>
        </button>
    </div>
{% endblock %}
