{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
    <br/>
    <h1>Modifier le client</h1>
    <br/>
    {{ include('client/_form.html.twig', {'button_label': 'Modifier'}) }}
    <br/>
    <div style="text-align: center;">
        <button type="button" class="btn btn-outline-info">
            <a href="{{ path('client_index') }}" style="color: #000000;">Retour à l'accueil</a>
        </button>
    </div>
    <br/>
    {{ include('client/_delete_form.html.twig') }}
    <br/>
{% endblock %}
